{
    "openapi": "3.0.0",
    "info": {
        "title": "Service for namespace FCO_MU_SRV",
        "version": "",
        "description": "This service is located at [https://capservicewithuiapprouter.cfapps.us10.hana.ondemand.com/sap/opu/odata/sap/fco_mu_srv/](https://capservicewithuiapprouter.cfapps.us10.hana.ondemand.com/sap/opu/odata/sap/fco_mu_srv/)"
    },
    "servers": [
        {
            "url": "https://capservicewithuiapprouter.cfapps.us10.hana.ondemand.com/sap/opu/odata/sap/fco_mu_srv/"
        }
    ],
    "tags": [
        {
            "name": "CurrCodeCollection"
        },
        {
            "name": "UnusualItems"
        },
        {
            "name": "DetailsCollection"
        },
        {
            "name": "Note"
        },
        {
            "name": "Notes"
        },
        {
            "name": "Attachment"
        },
        {
            "name": "NameListCollection"
        },
        {
            "name": "RuleTypeCollection"
        },
        {
            "name": "VendorProfileCollection"
        },
        {
            "name": "FilterTypeCollection"
        }
    ],
    "paths": {
        "/CurrCodeCollection": {
            "get": {
                "summary": "Get entities from CurrCodeCollection",
                "tags": [
                    "CurrCodeCollection"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "CurrKey",
                                    "CurrKey desc",
                                    "CurrText",
                                    "CurrText desc"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "CurrKey",
                                    "CurrText"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Collection of CurrCode",
                                    "type": "object",
                                    "properties": {
                                        "@odata.count": {
                                            "$ref": "#/components/schemas/count"
                                        },
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FCO_MU_SRV.CurrCode"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "post": {
                "summary": "Add new entity to CurrCodeCollection",
                "tags": [
                    "CurrCodeCollection"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New entity",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FCO_MU_SRV.CurrCode-create"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FCO_MU_SRV.CurrCode"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/CurrCodeCollection('{CurrKey}')": {
            "parameters": [
                {
                    "name": "CurrKey",
                    "in": "path",
                    "required": true,
                    "description": "Valuta",
                    "schema": {
                        "type": "string",
                        "maxLength": 5
                    }
                }
            ],
            "get": {
                "summary": "Get entity from CurrCodeCollection by key",
                "tags": [
                    "CurrCodeCollection"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "CurrKey",
                                    "CurrText"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FCO_MU_SRV.CurrCode"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "patch": {
                "summary": "Update entity in CurrCodeCollection",
                "tags": [
                    "CurrCodeCollection"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New property values",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FCO_MU_SRV.CurrCode-update"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "delete": {
                "summary": "Delete entity from CurrCodeCollection",
                "tags": [
                    "CurrCodeCollection"
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/UnusualItems": {
            "get": {
                "summary": "Get entities from UnusualItems",
                "tags": [
                    "UnusualItems"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "UserName",
                                    "UserName desc",
                                    "RuleNumber",
                                    "RuleNumber desc",
                                    "ItemKey",
                                    "ItemKey desc",
                                    "ControllingArea",
                                    "ControllingArea desc",
                                    "CODocNo",
                                    "CODocNo desc",
                                    "Currency",
                                    "Currency desc",
                                    "VersionNo",
                                    "VersionNo desc",
                                    "TotalValue",
                                    "TotalValue desc",
                                    "Date",
                                    "Date desc",
                                    "ItemText",
                                    "ItemText desc",
                                    "TIME",
                                    "TIME desc",
                                    "CONFIRMED",
                                    "CONFIRMED desc",
                                    "GUID",
                                    "GUID desc",
                                    "VenderName",
                                    "VenderName desc",
                                    "VenderID",
                                    "VenderID desc",
                                    "PoNumber",
                                    "PoNumber desc",
                                    "PoItem",
                                    "PoItem desc",
                                    "Material",
                                    "Material desc",
                                    "MaterialId",
                                    "MaterialId desc",
                                    "Quantity",
                                    "Quantity desc",
                                    "OrderPriceUnit",
                                    "OrderPriceUnit desc",
                                    "Unit",
                                    "Unit desc",
                                    "Status",
                                    "Status desc",
                                    "Headertext",
                                    "Headertext desc",
                                    "ControllingAreaTotalValue",
                                    "ControllingAreaTotalValue desc",
                                    "Department",
                                    "Department desc",
                                    "CostCenter",
                                    "CostCenter desc",
                                    "CstCtrName",
                                    "CstCtrName desc",
                                    "Account",
                                    "Account desc",
                                    "Creator",
                                    "Creator desc",
                                    "CreateDate",
                                    "CreateDate desc",
                                    "SenderCC",
                                    "SenderCC desc",
                                    "SenderCCTxt",
                                    "SenderCCTxt desc",
                                    "SenderCCUserResp",
                                    "SenderCCUserResp desc",
                                    "SenderCCFullName",
                                    "SenderCCFullName desc",
                                    "RuleText",
                                    "RuleText desc",
                                    "CostElement",
                                    "CostElement desc",
                                    "CstElmtName",
                                    "CstElmtName desc",
                                    "ChartOfAcct",
                                    "ChartOfAcct desc",
                                    "Period",
                                    "Period desc",
                                    "TargetCurrency",
                                    "TargetCurrency desc",
                                    "UnitPrice",
                                    "UnitPrice desc",
                                    "Assignee",
                                    "Assignee desc",
                                    "ProposedValue",
                                    "ProposedValue desc",
                                    "ProposedCC",
                                    "ProposedCC desc",
                                    "ProposedKSTAR",
                                    "ProposedKSTAR desc"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "UserName",
                                    "RuleNumber",
                                    "ItemKey",
                                    "ControllingArea",
                                    "CODocNo",
                                    "Currency",
                                    "VersionNo",
                                    "TotalValue",
                                    "Date",
                                    "ItemText",
                                    "TIME",
                                    "CONFIRMED",
                                    "GUID",
                                    "VenderName",
                                    "VenderID",
                                    "PoNumber",
                                    "PoItem",
                                    "Material",
                                    "MaterialId",
                                    "Quantity",
                                    "OrderPriceUnit",
                                    "Unit",
                                    "Status",
                                    "Headertext",
                                    "ControllingAreaTotalValue",
                                    "Department",
                                    "CostCenter",
                                    "CstCtrName",
                                    "Account",
                                    "Creator",
                                    "CreateDate",
                                    "SenderCC",
                                    "SenderCCTxt",
                                    "SenderCCUserResp",
                                    "SenderCCFullName",
                                    "RuleText",
                                    "CostElement",
                                    "CstElmtName",
                                    "ChartOfAcct",
                                    "Period",
                                    "TargetCurrency",
                                    "UnitPrice",
                                    "Assignee",
                                    "ProposedValue",
                                    "ProposedCC",
                                    "ProposedKSTAR"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "Attachment",
                                    "Notes",
                                    "NameList",
                                    "Details"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Collection of UnusualItems",
                                    "type": "object",
                                    "properties": {
                                        "@odata.count": {
                                            "$ref": "#/components/schemas/count"
                                        },
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FCO_MU_SRV.UnusualItems"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "post": {
                "summary": "Add new entity to UnusualItems",
                "tags": [
                    "UnusualItems"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New entity",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FCO_MU_SRV.UnusualItems-create"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FCO_MU_SRV.UnusualItems"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/UnusualItems(RuleNumber='{RuleNumber}',ItemKey='{ItemKey}',ControllingArea='{ControllingArea}',CODocNo='{CODocNo}',Currency='{Currency}')": {
            "parameters": [
                {
                    "name": "RuleNumber",
                    "in": "path",
                    "required": true,
                    "description": "Reserve",
                    "schema": {
                        "type": "string",
                        "maxLength": 6
                    }
                },
                {
                    "name": "ItemKey",
                    "in": "path",
                    "required": true,
                    "description": "Dertig tekens",
                    "schema": {
                        "type": "string",
                        "maxLength": 30
                    }
                },
                {
                    "name": "ControllingArea",
                    "in": "path",
                    "required": true,
                    "description": "Niet nader gedef. gebied, evt. voor patch-levels",
                    "schema": {
                        "type": "string",
                        "maxLength": 4
                    }
                },
                {
                    "name": "CODocNo",
                    "in": "path",
                    "required": true,
                    "description": "Tekstveld van lengte 10",
                    "schema": {
                        "type": "string",
                        "maxLength": 10
                    }
                },
                {
                    "name": "Currency",
                    "in": "path",
                    "required": true,
                    "description": "R/2-tabel",
                    "schema": {
                        "type": "string",
                        "maxLength": 5
                    }
                }
            ],
            "get": {
                "summary": "Get entity from UnusualItems by key",
                "tags": [
                    "UnusualItems"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "UserName",
                                    "RuleNumber",
                                    "ItemKey",
                                    "ControllingArea",
                                    "CODocNo",
                                    "Currency",
                                    "VersionNo",
                                    "TotalValue",
                                    "Date",
                                    "ItemText",
                                    "TIME",
                                    "CONFIRMED",
                                    "GUID",
                                    "VenderName",
                                    "VenderID",
                                    "PoNumber",
                                    "PoItem",
                                    "Material",
                                    "MaterialId",
                                    "Quantity",
                                    "OrderPriceUnit",
                                    "Unit",
                                    "Status",
                                    "Headertext",
                                    "ControllingAreaTotalValue",
                                    "Department",
                                    "CostCenter",
                                    "CstCtrName",
                                    "Account",
                                    "Creator",
                                    "CreateDate",
                                    "SenderCC",
                                    "SenderCCTxt",
                                    "SenderCCUserResp",
                                    "SenderCCFullName",
                                    "RuleText",
                                    "CostElement",
                                    "CstElmtName",
                                    "ChartOfAcct",
                                    "Period",
                                    "TargetCurrency",
                                    "UnitPrice",
                                    "Assignee",
                                    "ProposedValue",
                                    "ProposedCC",
                                    "ProposedKSTAR"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "Attachment",
                                    "Notes",
                                    "NameList",
                                    "Details"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FCO_MU_SRV.UnusualItems"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "patch": {
                "summary": "Update entity in UnusualItems",
                "tags": [
                    "UnusualItems"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New property values",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FCO_MU_SRV.UnusualItems-update"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "delete": {
                "summary": "Delete entity from UnusualItems",
                "tags": [
                    "UnusualItems"
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/UnusualItems(RuleNumber='{RuleNumber}',ItemKey='{ItemKey}',ControllingArea='{ControllingArea}',CODocNo='{CODocNo}',Currency='{Currency}')/Attachment": {
            "parameters": [
                {
                    "name": "RuleNumber",
                    "in": "path",
                    "required": true,
                    "description": "Reserve",
                    "schema": {
                        "type": "string",
                        "maxLength": 6
                    }
                },
                {
                    "name": "ItemKey",
                    "in": "path",
                    "required": true,
                    "description": "Dertig tekens",
                    "schema": {
                        "type": "string",
                        "maxLength": 30
                    }
                },
                {
                    "name": "ControllingArea",
                    "in": "path",
                    "required": true,
                    "description": "Niet nader gedef. gebied, evt. voor patch-levels",
                    "schema": {
                        "type": "string",
                        "maxLength": 4
                    }
                },
                {
                    "name": "CODocNo",
                    "in": "path",
                    "required": true,
                    "description": "Tekstveld van lengte 10",
                    "schema": {
                        "type": "string",
                        "maxLength": 10
                    }
                },
                {
                    "name": "Currency",
                    "in": "path",
                    "required": true,
                    "description": "R/2-tabel",
                    "schema": {
                        "type": "string",
                        "maxLength": 5
                    }
                }
            ],
            "get": {
                "summary": "Get entities from related Attachment",
                "tags": [
                    "UnusualItems",
                    "Attachment"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "ItemKey",
                                    "ItemKey desc",
                                    "AttachmentID",
                                    "AttachmentID desc",
                                    "FileName",
                                    "FileName desc",
                                    "FileExtension",
                                    "FileExtension desc",
                                    "FileSize",
                                    "FileSize desc",
                                    "CreationDate",
                                    "CreationDate desc",
                                    "CreationTime",
                                    "CreationTime desc",
                                    "Creator",
                                    "Creator desc",
                                    "CreatorName",
                                    "CreatorName desc",
                                    "Content",
                                    "Content desc"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "ItemKey",
                                    "AttachmentID",
                                    "FileName",
                                    "FileExtension",
                                    "FileSize",
                                    "CreationDate",
                                    "CreationTime",
                                    "Creator",
                                    "CreatorName",
                                    "Content"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Collection of Attachment",
                                    "type": "object",
                                    "properties": {
                                        "@odata.count": {
                                            "$ref": "#/components/schemas/count"
                                        },
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FCO_MU_SRV.Attachment"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "post": {
                "summary": "Add new entity to related Attachment",
                "tags": [
                    "UnusualItems",
                    "Attachment"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New entity",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FCO_MU_SRV.Attachment-create"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FCO_MU_SRV.Attachment"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/UnusualItems(RuleNumber='{RuleNumber}',ItemKey='{ItemKey}',ControllingArea='{ControllingArea}',CODocNo='{CODocNo}',Currency='{Currency}')/Notes": {
            "parameters": [
                {
                    "name": "RuleNumber",
                    "in": "path",
                    "required": true,
                    "description": "Reserve",
                    "schema": {
                        "type": "string",
                        "maxLength": 6
                    }
                },
                {
                    "name": "ItemKey",
                    "in": "path",
                    "required": true,
                    "description": "Dertig tekens",
                    "schema": {
                        "type": "string",
                        "maxLength": 30
                    }
                },
                {
                    "name": "ControllingArea",
                    "in": "path",
                    "required": true,
                    "description": "Niet nader gedef. gebied, evt. voor patch-levels",
                    "schema": {
                        "type": "string",
                        "maxLength": 4
                    }
                },
                {
                    "name": "CODocNo",
                    "in": "path",
                    "required": true,
                    "description": "Tekstveld van lengte 10",
                    "schema": {
                        "type": "string",
                        "maxLength": 10
                    }
                },
                {
                    "name": "Currency",
                    "in": "path",
                    "required": true,
                    "description": "R/2-tabel",
                    "schema": {
                        "type": "string",
                        "maxLength": 5
                    }
                }
            ],
            "get": {
                "summary": "Get entities from related Notes",
                "tags": [
                    "UnusualItems",
                    "Notes"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "ItemKey",
                                    "ItemKey desc",
                                    "NoteId",
                                    "NoteId desc",
                                    "Creator",
                                    "Creator desc",
                                    "CrName",
                                    "CrName desc",
                                    "CrDate",
                                    "CrDate desc",
                                    "CrTime",
                                    "CrTime desc",
                                    "Content",
                                    "Content desc",
                                    "Assignee",
                                    "Assignee desc",
                                    "AssigneeName",
                                    "AssigneeName desc"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "ItemKey",
                                    "NoteId",
                                    "Creator",
                                    "CrName",
                                    "CrDate",
                                    "CrTime",
                                    "Content",
                                    "Assignee",
                                    "AssigneeName"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Collection of Notes",
                                    "type": "object",
                                    "properties": {
                                        "@odata.count": {
                                            "$ref": "#/components/schemas/count"
                                        },
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FCO_MU_SRV.Notes"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "post": {
                "summary": "Add new entity to related Notes",
                "tags": [
                    "UnusualItems",
                    "Notes"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New entity",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FCO_MU_SRV.Notes-create"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FCO_MU_SRV.Notes"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/UnusualItems(RuleNumber='{RuleNumber}',ItemKey='{ItemKey}',ControllingArea='{ControllingArea}',CODocNo='{CODocNo}',Currency='{Currency}')/NameList": {
            "parameters": [
                {
                    "name": "RuleNumber",
                    "in": "path",
                    "required": true,
                    "description": "Reserve",
                    "schema": {
                        "type": "string",
                        "maxLength": 6
                    }
                },
                {
                    "name": "ItemKey",
                    "in": "path",
                    "required": true,
                    "description": "Dertig tekens",
                    "schema": {
                        "type": "string",
                        "maxLength": 30
                    }
                },
                {
                    "name": "ControllingArea",
                    "in": "path",
                    "required": true,
                    "description": "Niet nader gedef. gebied, evt. voor patch-levels",
                    "schema": {
                        "type": "string",
                        "maxLength": 4
                    }
                },
                {
                    "name": "CODocNo",
                    "in": "path",
                    "required": true,
                    "description": "Tekstveld van lengte 10",
                    "schema": {
                        "type": "string",
                        "maxLength": 10
                    }
                },
                {
                    "name": "Currency",
                    "in": "path",
                    "required": true,
                    "description": "R/2-tabel",
                    "schema": {
                        "type": "string",
                        "maxLength": 5
                    }
                }
            ],
            "get": {
                "summary": "Get related NameList",
                "tags": [
                    "UnusualItems",
                    "NameListCollection"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "AssignedUser",
                                    "FirstName",
                                    "LastName",
                                    "FullName",
                                    "Department",
                                    "CompanyName",
                                    "CompanyNameExt",
                                    "EMail",
                                    "Mobile",
                                    "Telephone",
                                    "Street"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FCO_MU_SRV.NameList"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/UnusualItems(RuleNumber='{RuleNumber}',ItemKey='{ItemKey}',ControllingArea='{ControllingArea}',CODocNo='{CODocNo}',Currency='{Currency}')/Details": {
            "parameters": [
                {
                    "name": "RuleNumber",
                    "in": "path",
                    "required": true,
                    "description": "Reserve",
                    "schema": {
                        "type": "string",
                        "maxLength": 6
                    }
                },
                {
                    "name": "ItemKey",
                    "in": "path",
                    "required": true,
                    "description": "Dertig tekens",
                    "schema": {
                        "type": "string",
                        "maxLength": 30
                    }
                },
                {
                    "name": "ControllingArea",
                    "in": "path",
                    "required": true,
                    "description": "Niet nader gedef. gebied, evt. voor patch-levels",
                    "schema": {
                        "type": "string",
                        "maxLength": 4
                    }
                },
                {
                    "name": "CODocNo",
                    "in": "path",
                    "required": true,
                    "description": "Tekstveld van lengte 10",
                    "schema": {
                        "type": "string",
                        "maxLength": 10
                    }
                },
                {
                    "name": "Currency",
                    "in": "path",
                    "required": true,
                    "description": "R/2-tabel",
                    "schema": {
                        "type": "string",
                        "maxLength": 5
                    }
                }
            ],
            "get": {
                "summary": "Get entities from related Details",
                "tags": [
                    "UnusualItems",
                    "DetailsCollection"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "UserName",
                                    "UserName desc",
                                    "RuleNumber",
                                    "RuleNumber desc",
                                    "ControllingArea",
                                    "ControllingArea desc",
                                    "CODocNo",
                                    "CODocNo desc",
                                    "OBJECT",
                                    "OBJECT desc",
                                    "VersionNo",
                                    "VersionNo desc",
                                    "ItemKey",
                                    "ItemKey desc",
                                    "Currency",
                                    "Currency desc",
                                    "Date",
                                    "Date desc",
                                    "ItemText",
                                    "ItemText desc",
                                    "TIME",
                                    "TIME desc",
                                    "CONFIRMED",
                                    "CONFIRMED desc",
                                    "GUID",
                                    "GUID desc",
                                    "VenderName",
                                    "VenderName desc",
                                    "VenderID",
                                    "VenderID desc",
                                    "PoNumber",
                                    "PoNumber desc",
                                    "PoItem",
                                    "PoItem desc",
                                    "Material",
                                    "Material desc",
                                    "MaterialId",
                                    "MaterialId desc",
                                    "Quantity",
                                    "Quantity desc",
                                    "OrderPriceUnit",
                                    "OrderPriceUnit desc",
                                    "Unit",
                                    "Unit desc",
                                    "Status",
                                    "Status desc",
                                    "Headertext",
                                    "Headertext desc",
                                    "TotalValue",
                                    "TotalValue desc",
                                    "Department",
                                    "Department desc",
                                    "CostCenter",
                                    "CostCenter desc",
                                    "Account",
                                    "Account desc",
                                    "Creator",
                                    "Creator desc",
                                    "CreateDate",
                                    "CreateDate desc",
                                    "RuleText",
                                    "RuleText desc",
                                    "CostElement",
                                    "CostElement desc",
                                    "UnitPrice",
                                    "UnitPrice desc",
                                    "ItemValue",
                                    "ItemValue desc"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "UserName",
                                    "RuleNumber",
                                    "ControllingArea",
                                    "CODocNo",
                                    "OBJECT",
                                    "VersionNo",
                                    "ItemKey",
                                    "Currency",
                                    "Date",
                                    "ItemText",
                                    "TIME",
                                    "CONFIRMED",
                                    "GUID",
                                    "VenderName",
                                    "VenderID",
                                    "PoNumber",
                                    "PoItem",
                                    "Material",
                                    "MaterialId",
                                    "Quantity",
                                    "OrderPriceUnit",
                                    "Unit",
                                    "Status",
                                    "Headertext",
                                    "TotalValue",
                                    "Department",
                                    "CostCenter",
                                    "Account",
                                    "Creator",
                                    "CreateDate",
                                    "RuleText",
                                    "CostElement",
                                    "UnitPrice",
                                    "ItemValue"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Collection of Details",
                                    "type": "object",
                                    "properties": {
                                        "@odata.count": {
                                            "$ref": "#/components/schemas/count"
                                        },
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FCO_MU_SRV.Details"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "post": {
                "summary": "Add new entity to related Details",
                "tags": [
                    "UnusualItems",
                    "DetailsCollection"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New entity",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FCO_MU_SRV.Details-create"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FCO_MU_SRV.Details"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/DetailsCollection": {
            "get": {
                "summary": "Get entities from DetailsCollection",
                "tags": [
                    "DetailsCollection"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "UserName",
                                    "UserName desc",
                                    "RuleNumber",
                                    "RuleNumber desc",
                                    "ControllingArea",
                                    "ControllingArea desc",
                                    "CODocNo",
                                    "CODocNo desc",
                                    "OBJECT",
                                    "OBJECT desc",
                                    "VersionNo",
                                    "VersionNo desc",
                                    "ItemKey",
                                    "ItemKey desc",
                                    "Currency",
                                    "Currency desc",
                                    "Date",
                                    "Date desc",
                                    "ItemText",
                                    "ItemText desc",
                                    "TIME",
                                    "TIME desc",
                                    "CONFIRMED",
                                    "CONFIRMED desc",
                                    "GUID",
                                    "GUID desc",
                                    "VenderName",
                                    "VenderName desc",
                                    "VenderID",
                                    "VenderID desc",
                                    "PoNumber",
                                    "PoNumber desc",
                                    "PoItem",
                                    "PoItem desc",
                                    "Material",
                                    "Material desc",
                                    "MaterialId",
                                    "MaterialId desc",
                                    "Quantity",
                                    "Quantity desc",
                                    "OrderPriceUnit",
                                    "OrderPriceUnit desc",
                                    "Unit",
                                    "Unit desc",
                                    "Status",
                                    "Status desc",
                                    "Headertext",
                                    "Headertext desc",
                                    "TotalValue",
                                    "TotalValue desc",
                                    "Department",
                                    "Department desc",
                                    "CostCenter",
                                    "CostCenter desc",
                                    "Account",
                                    "Account desc",
                                    "Creator",
                                    "Creator desc",
                                    "CreateDate",
                                    "CreateDate desc",
                                    "RuleText",
                                    "RuleText desc",
                                    "CostElement",
                                    "CostElement desc",
                                    "UnitPrice",
                                    "UnitPrice desc",
                                    "ItemValue",
                                    "ItemValue desc"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "UserName",
                                    "RuleNumber",
                                    "ControllingArea",
                                    "CODocNo",
                                    "OBJECT",
                                    "VersionNo",
                                    "ItemKey",
                                    "Currency",
                                    "Date",
                                    "ItemText",
                                    "TIME",
                                    "CONFIRMED",
                                    "GUID",
                                    "VenderName",
                                    "VenderID",
                                    "PoNumber",
                                    "PoItem",
                                    "Material",
                                    "MaterialId",
                                    "Quantity",
                                    "OrderPriceUnit",
                                    "Unit",
                                    "Status",
                                    "Headertext",
                                    "TotalValue",
                                    "Department",
                                    "CostCenter",
                                    "Account",
                                    "Creator",
                                    "CreateDate",
                                    "RuleText",
                                    "CostElement",
                                    "UnitPrice",
                                    "ItemValue"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Collection of Details",
                                    "type": "object",
                                    "properties": {
                                        "@odata.count": {
                                            "$ref": "#/components/schemas/count"
                                        },
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FCO_MU_SRV.Details"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "post": {
                "summary": "Add new entity to DetailsCollection",
                "tags": [
                    "DetailsCollection"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New entity",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FCO_MU_SRV.Details-create"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FCO_MU_SRV.Details"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/DetailsCollection(RuleNumber='{RuleNumber}',ControllingArea='{ControllingArea}',CODocNo='{CODocNo}',Currency='{Currency}')": {
            "parameters": [
                {
                    "name": "RuleNumber",
                    "in": "path",
                    "required": true,
                    "description": "Reserve",
                    "schema": {
                        "type": "string",
                        "maxLength": 6
                    }
                },
                {
                    "name": "ControllingArea",
                    "in": "path",
                    "required": true,
                    "description": "Niet nader gedef. gebied, evt. voor patch-levels",
                    "schema": {
                        "type": "string",
                        "maxLength": 4
                    }
                },
                {
                    "name": "CODocNo",
                    "in": "path",
                    "required": true,
                    "description": "Tekstveld van lengte 10",
                    "schema": {
                        "type": "string",
                        "maxLength": 10
                    }
                },
                {
                    "name": "Currency",
                    "in": "path",
                    "required": true,
                    "description": "R/2-tabel",
                    "schema": {
                        "type": "string",
                        "maxLength": 5
                    }
                }
            ],
            "get": {
                "summary": "Get entity from DetailsCollection by key",
                "tags": [
                    "DetailsCollection"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "UserName",
                                    "RuleNumber",
                                    "ControllingArea",
                                    "CODocNo",
                                    "OBJECT",
                                    "VersionNo",
                                    "ItemKey",
                                    "Currency",
                                    "Date",
                                    "ItemText",
                                    "TIME",
                                    "CONFIRMED",
                                    "GUID",
                                    "VenderName",
                                    "VenderID",
                                    "PoNumber",
                                    "PoItem",
                                    "Material",
                                    "MaterialId",
                                    "Quantity",
                                    "OrderPriceUnit",
                                    "Unit",
                                    "Status",
                                    "Headertext",
                                    "TotalValue",
                                    "Department",
                                    "CostCenter",
                                    "Account",
                                    "Creator",
                                    "CreateDate",
                                    "RuleText",
                                    "CostElement",
                                    "UnitPrice",
                                    "ItemValue"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FCO_MU_SRV.Details"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "patch": {
                "summary": "Update entity in DetailsCollection",
                "tags": [
                    "DetailsCollection"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New property values",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FCO_MU_SRV.Details-update"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "delete": {
                "summary": "Delete entity from DetailsCollection",
                "tags": [
                    "DetailsCollection"
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/Note": {
            "get": {
                "summary": "Get entities from Note",
                "tags": [
                    "Note"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "ItemKey",
                                    "ItemKey desc",
                                    "Creator",
                                    "Creator desc",
                                    "CrName",
                                    "CrName desc",
                                    "CrDate",
                                    "CrDate desc",
                                    "CrTime",
                                    "CrTime desc",
                                    "NoteId",
                                    "NoteId desc",
                                    "Content",
                                    "Content desc",
                                    "Assignee",
                                    "Assignee desc",
                                    "AssigneeName",
                                    "AssigneeName desc"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "ItemKey",
                                    "Creator",
                                    "CrName",
                                    "CrDate",
                                    "CrTime",
                                    "NoteId",
                                    "Content",
                                    "Assignee",
                                    "AssigneeName"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Collection of Note",
                                    "type": "object",
                                    "properties": {
                                        "@odata.count": {
                                            "$ref": "#/components/schemas/count"
                                        },
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FCO_MU_SRV.Note"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "post": {
                "summary": "Add new entity to Note",
                "tags": [
                    "Note"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New entity",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FCO_MU_SRV.Note-create"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FCO_MU_SRV.Note"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/Note('{ItemKey}')": {
            "parameters": [
                {
                    "name": "ItemKey",
                    "in": "path",
                    "required": true,
                    "description": "Objectkey",
                    "schema": {
                        "type": "string",
                        "maxLength": 30
                    }
                }
            ],
            "get": {
                "summary": "Get entity from Note by key",
                "tags": [
                    "Note"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "ItemKey",
                                    "Creator",
                                    "CrName",
                                    "CrDate",
                                    "CrTime",
                                    "NoteId",
                                    "Content",
                                    "Assignee",
                                    "AssigneeName"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FCO_MU_SRV.Note"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "patch": {
                "summary": "Update entity in Note",
                "tags": [
                    "Note"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New property values",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FCO_MU_SRV.Note-update"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "delete": {
                "summary": "Delete entity from Note",
                "tags": [
                    "Note"
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/Notes": {
            "get": {
                "summary": "Get entities from Notes",
                "tags": [
                    "Notes"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "ItemKey",
                                    "ItemKey desc",
                                    "NoteId",
                                    "NoteId desc",
                                    "Creator",
                                    "Creator desc",
                                    "CrName",
                                    "CrName desc",
                                    "CrDate",
                                    "CrDate desc",
                                    "CrTime",
                                    "CrTime desc",
                                    "Content",
                                    "Content desc",
                                    "Assignee",
                                    "Assignee desc",
                                    "AssigneeName",
                                    "AssigneeName desc"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "ItemKey",
                                    "NoteId",
                                    "Creator",
                                    "CrName",
                                    "CrDate",
                                    "CrTime",
                                    "Content",
                                    "Assignee",
                                    "AssigneeName"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Collection of Notes",
                                    "type": "object",
                                    "properties": {
                                        "@odata.count": {
                                            "$ref": "#/components/schemas/count"
                                        },
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FCO_MU_SRV.Notes"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "post": {
                "summary": "Add new entity to Notes",
                "tags": [
                    "Notes"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New entity",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FCO_MU_SRV.Notes-create"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FCO_MU_SRV.Notes"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/Notes(ItemKey='{ItemKey}',NoteId='{NoteId}')": {
            "parameters": [
                {
                    "name": "ItemKey",
                    "in": "path",
                    "required": true,
                    "description": "Objectkey",
                    "schema": {
                        "type": "string",
                        "maxLength": 30
                    }
                },
                {
                    "name": "NoteId",
                    "in": "path",
                    "required": true,
                    "description": "Notitie-ID",
                    "schema": {
                        "type": "string",
                        "maxLength": 34
                    }
                }
            ],
            "get": {
                "summary": "Get entity from Notes by key",
                "tags": [
                    "Notes"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "ItemKey",
                                    "NoteId",
                                    "Creator",
                                    "CrName",
                                    "CrDate",
                                    "CrTime",
                                    "Content",
                                    "Assignee",
                                    "AssigneeName"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FCO_MU_SRV.Notes"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "patch": {
                "summary": "Update entity in Notes",
                "tags": [
                    "Notes"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New property values",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FCO_MU_SRV.Notes-update"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "delete": {
                "summary": "Delete entity from Notes",
                "tags": [
                    "Notes"
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/Attachment": {
            "get": {
                "summary": "Get entities from Attachment",
                "tags": [
                    "Attachment"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
                        "schema": {
[...]
