{
    "openapi": "3.0.0",
    "info": {
        "title": "Service for namespace FCO_CORE_SRV",
        "version": "",
        "description": "This service is located at [http://localhost/service-root/](https://capservicewithuiapprouter2.cfapps.us10.hana.ondemand.com/sap/opu/odata/sap/fco_core_srv)"
    },
    "servers": [
        {
            "url": "https://capservicewithuiapprouter2.cfapps.us10.hana.ondemand.com/sap/opu/odata/sap/fco_core_srv"
        }
    ],
    "tags": [
        {
            "name": "CctrListCollection"
        },
        {
            "name": "CODocCollection"
        },
        {
            "name": "UnusualItemCollection"
        },
        {
            "name": "NoteCollection"
        },
        {
            "name": "AttachmentCollection"
        },
        {
            "name": "NameListCollection"
        }
    ],
    "paths": {
        "/CctrListCollection": {
            "get": {
                "summary": "Get entities from CctrListCollection",
                "tags": [
                    "CctrListCollection"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "CostCenter",
                                    "CostCenter desc",
                                    "CostCenterTXT",
                                    "CostCenterTXT desc"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "CostCenter",
                                    "CostCenterTXT"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Collection of CctrList",
                                    "type": "object",
                                    "properties": {
                                        "@odata.count": {
                                            "$ref": "#/components/schemas/count"
                                        },
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FCO_CORE_SRV.CctrList"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "post": {
                "summary": "Add new entity to CctrListCollection",
                "tags": [
                    "CctrListCollection"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New entity",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FCO_CORE_SRV.CctrList-create"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FCO_CORE_SRV.CctrList"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/CctrListCollection('{CostCenter}')": {
            "parameters": [
                {
                    "name": "CostCenter",
                    "in": "path",
                    "required": true,
                    "description": "Kostenplaats",
                    "schema": {
                        "type": "string",
                        "maxLength": 10
                    }
                }
            ],
            "get": {
                "summary": "Get entity from CctrListCollection by key",
                "tags": [
                    "CctrListCollection"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "CostCenter",
                                    "CostCenterTXT"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FCO_CORE_SRV.CctrList"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "patch": {
                "summary": "Update entity in CctrListCollection",
                "tags": [
                    "CctrListCollection"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New property values",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FCO_CORE_SRV.CctrList-update"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "delete": {
                "summary": "Delete entity from CctrListCollection",
                "tags": [
                    "CctrListCollection"
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/CODocCollection": {
            "get": {
                "summary": "Get entities from CODocCollection",
                "tags": [
                    "CODocCollection"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "Currency",
                                    "Currency desc",
                                    "DocNumber",
                                    "DocNumber desc",
                                    "ControllingArea",
                                    "ControllingArea desc",
                                    "TotalValue",
                                    "TotalValue desc",
                                    "ItemCount",
                                    "ItemCount desc",
                                    "PostingDate",
                                    "PostingDate desc",
                                    "AccountTXT",
                                    "AccountTXT desc",
                                    "CreateBy",
                                    "CreateBy desc",
                                    "CreateByTXT",
                                    "CreateByTXT desc"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "Currency",
                                    "DocNumber",
                                    "ControllingArea",
                                    "TotalValue",
                                    "ItemCount",
                                    "PostingDate",
                                    "AccountTXT",
                                    "CreateBy",
                                    "CreateByTXT"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "Attachment",
                                    "Note",
                                    "UnusualItems"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Collection of CODoc",
                                    "type": "object",
                                    "properties": {
                                        "@odata.count": {
                                            "$ref": "#/components/schemas/count"
                                        },
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FCO_CORE_SRV.CODoc"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "post": {
                "summary": "Add new entity to CODocCollection",
                "tags": [
                    "CODocCollection"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New entity",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FCO_CORE_SRV.CODoc-create"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FCO_CORE_SRV.CODoc"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/CODocCollection(Currency='{Currency}',DocNumber='{DocNumber}',ControllingArea='{ControllingArea}')": {
            "parameters": [
                {
                    "name": "Currency",
                    "in": "path",
                    "required": true,
                    "description": "Valuta",
                    "schema": {
                        "type": "string",
                        "maxLength": 5
                    }
                },
                {
                    "name": "DocNumber",
                    "in": "path",
                    "required": true,
                    "description": "Documentnummer",
                    "schema": {
                        "type": "string",
                        "maxLength": 10
                    }
                },
                {
                    "name": "ControllingArea",
                    "in": "path",
                    "required": true,
                    "description": "CO-gebied",
                    "schema": {
                        "type": "string",
                        "maxLength": 4
                    }
                }
            ],
            "get": {
                "summary": "Get entity from CODocCollection by key",
                "tags": [
                    "CODocCollection"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "Currency",
                                    "DocNumber",
                                    "ControllingArea",
                                    "TotalValue",
                                    "ItemCount",
                                    "PostingDate",
                                    "AccountTXT",
                                    "CreateBy",
                                    "CreateByTXT"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "Attachment",
                                    "Note",
                                    "UnusualItems"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FCO_CORE_SRV.CODoc"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "patch": {
                "summary": "Update entity in CODocCollection",
                "tags": [
                    "CODocCollection"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New property values",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FCO_CORE_SRV.CODoc-update"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "delete": {
                "summary": "Delete entity from CODocCollection",
                "tags": [
                    "CODocCollection"
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/CODocCollection(Currency='{Currency}',DocNumber='{DocNumber}',ControllingArea='{ControllingArea}')/Attachment": {
            "parameters": [
                {
                    "name": "Currency",
                    "in": "path",
                    "required": true,
                    "description": "Valuta",
                    "schema": {
                        "type": "string",
                        "maxLength": 5
                    }
                },
                {
                    "name": "DocNumber",
                    "in": "path",
                    "required": true,
                    "description": "Documentnummer",
                    "schema": {
                        "type": "string",
                        "maxLength": 10
                    }
                },
                {
                    "name": "ControllingArea",
                    "in": "path",
                    "required": true,
                    "description": "CO-gebied",
                    "schema": {
                        "type": "string",
                        "maxLength": 4
                    }
                }
            ],
            "get": {
                "summary": "Get entities from related Attachment",
                "tags": [
                    "CODocCollection",
                    "AttachmentCollection"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "ItemKey",
                                    "ItemKey desc",
                                    "AttachmentID",
                                    "AttachmentID desc",
                                    "FileName",
                                    "FileName desc",
                                    "FileExtension",
                                    "FileExtension desc",
                                    "FileSize",
                                    "FileSize desc",
                                    "CreationDate",
                                    "CreationDate desc",
                                    "CreationTime",
                                    "CreationTime desc",
                                    "Creator",
                                    "Creator desc",
                                    "CreatorName",
                                    "CreatorName desc",
                                    "Content",
                                    "Content desc"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "ItemKey",
                                    "AttachmentID",
                                    "FileName",
                                    "FileExtension",
                                    "FileSize",
                                    "CreationDate",
                                    "CreationTime",
                                    "Creator",
                                    "CreatorName",
                                    "Content"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Collection of Attachment",
                                    "type": "object",
                                    "properties": {
                                        "@odata.count": {
                                            "$ref": "#/components/schemas/count"
                                        },
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FCO_CORE_SRV.Attachment"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "post": {
                "summary": "Add new entity to related Attachment",
                "tags": [
                    "CODocCollection",
                    "AttachmentCollection"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New entity",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FCO_CORE_SRV.Attachment-create"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FCO_CORE_SRV.Attachment"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/CODocCollection(Currency='{Currency}',DocNumber='{DocNumber}',ControllingArea='{ControllingArea}')/Note": {
            "parameters": [
                {
                    "name": "Currency",
                    "in": "path",
                    "required": true,
                    "description": "Valuta",
                    "schema": {
                        "type": "string",
                        "maxLength": 5
                    }
                },
                {
                    "name": "DocNumber",
                    "in": "path",
                    "required": true,
                    "description": "Documentnummer",
                    "schema": {
                        "type": "string",
                        "maxLength": 10
                    }
                },
                {
                    "name": "ControllingArea",
                    "in": "path",
                    "required": true,
                    "description": "CO-gebied",
                    "schema": {
                        "type": "string",
                        "maxLength": 4
                    }
                }
            ],
            "get": {
                "summary": "Get entities from related Note",
                "tags": [
                    "CODocCollection",
                    "NoteCollection"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "ItemKey",
                                    "ItemKey desc",
                                    "NoteId",
                                    "NoteId desc",
                                    "Creator",
                                    "Creator desc",
                                    "CrName",
                                    "CrName desc",
                                    "CrDate",
                                    "CrDate desc",
                                    "CrTime",
                                    "CrTime desc",
                                    "Content",
                                    "Content desc",
                                    "Assignee",
                                    "Assignee desc",
                                    "AssigneeName",
                                    "AssigneeName desc"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "ItemKey",
                                    "NoteId",
                                    "Creator",
                                    "CrName",
                                    "CrDate",
                                    "CrTime",
                                    "Content",
                                    "Assignee",
                                    "AssigneeName"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Collection of Note",
                                    "type": "object",
                                    "properties": {
                                        "@odata.count": {
                                            "$ref": "#/components/schemas/count"
                                        },
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FCO_CORE_SRV.Note"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "post": {
                "summary": "Add new entity to related Note",
                "tags": [
                    "CODocCollection",
                    "NoteCollection"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New entity",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FCO_CORE_SRV.Note-create"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FCO_CORE_SRV.Note"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/CODocCollection(Currency='{Currency}',DocNumber='{DocNumber}',ControllingArea='{ControllingArea}')/UnusualItems": {
            "parameters": [
                {
                    "name": "Currency",
                    "in": "path",
                    "required": true,
                    "description": "Valuta",
                    "schema": {
                        "type": "string",
                        "maxLength": 5
                    }
                },
                {
                    "name": "DocNumber",
                    "in": "path",
                    "required": true,
                    "description": "Documentnummer",
                    "schema": {
                        "type": "string",
                        "maxLength": 10
                    }
                },
                {
                    "name": "ControllingArea",
                    "in": "path",
                    "required": true,
                    "description": "CO-gebied",
                    "schema": {
                        "type": "string",
                        "maxLength": 4
                    }
                }
            ],
            "get": {
                "summary": "Get entities from related UnusualItems",
                "tags": [
                    "CODocCollection",
                    "UnusualItemCollection"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "Currency",
                                    "Currency desc",
                                    "ItemKey",
                                    "ItemKey desc",
                                    "ItemText",
                                    "ItemText desc",
                                    "ItemValue",
                                    "ItemValue desc",
                                    "CostElement",
                                    "CostElement desc",
                                    "CostElementTXT",
                                    "CostElementTXT desc",
                                    "CostCenter",
                                    "CostCenter desc",
                                    "CostCenterTXT",
                                    "CostCenterTXT desc",
                                    "LastChangedBy",
                                    "LastChangedBy desc",
                                    "ProposedCostCenter",
                                    "ProposedCostCenter desc",
                                    "ProposedValue",
                                    "ProposedValue desc",
                                    "ProposedCostElement",
                                    "ProposedCostElement desc"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "Currency",
                                    "ItemKey",
                                    "ItemText",
                                    "ItemValue",
                                    "CostElement",
                                    "CostElementTXT",
                                    "CostCenter",
                                    "CostCenterTXT",
                                    "LastChangedBy",
                                    "ProposedCostCenter",
                                    "ProposedValue",
                                    "ProposedCostElement"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Collection of UnusualItem",
                                    "type": "object",
                                    "properties": {
                                        "@odata.count": {
                                            "$ref": "#/components/schemas/count"
                                        },
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FCO_CORE_SRV.UnusualItem"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "post": {
                "summary": "Add new entity to related UnusualItems",
                "tags": [
                    "CODocCollection",
                    "UnusualItemCollection"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New entity",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FCO_CORE_SRV.UnusualItem-create"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FCO_CORE_SRV.UnusualItem"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/UnusualItemCollection": {
            "get": {
                "summary": "Get entities from UnusualItemCollection",
                "tags": [
                    "UnusualItemCollection"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "Currency",
                                    "Currency desc",
                                    "ItemKey",
                                    "ItemKey desc",
                                    "ItemText",
                                    "ItemText desc",
                                    "ItemValue",
                                    "ItemValue desc",
                                    "CostElement",
                                    "CostElement desc",
                                    "CostElementTXT",
                                    "CostElementTXT desc",
                                    "CostCenter",
                                    "CostCenter desc",
                                    "CostCenterTXT",
                                    "CostCenterTXT desc",
                                    "LastChangedBy",
                                    "LastChangedBy desc",
                                    "ProposedCostCenter",
                                    "ProposedCostCenter desc",
                                    "ProposedValue",
                                    "ProposedValue desc",
                                    "ProposedCostElement",
                                    "ProposedCostElement desc"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "Currency",
                                    "ItemKey",
                                    "ItemText",
                                    "ItemValue",
                                    "CostElement",
                                    "CostElementTXT",
                                    "CostCenter",
                                    "CostCenterTXT",
                                    "LastChangedBy",
                                    "ProposedCostCenter",
                                    "ProposedValue",
                                    "ProposedCostElement"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Collection of UnusualItem",
                                    "type": "object",
                                    "properties": {
                                        "@odata.count": {
                                            "$ref": "#/components/schemas/count"
                                        },
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FCO_CORE_SRV.UnusualItem"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "post": {
                "summary": "Add new entity to UnusualItemCollection",
                "tags": [
                    "UnusualItemCollection"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New entity",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FCO_CORE_SRV.UnusualItem-create"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FCO_CORE_SRV.UnusualItem"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/UnusualItemCollection(Currency='{Currency}',ItemKey='{ItemKey}')": {
            "parameters": [
                {
                    "name": "Currency",
                    "in": "path",
                    "required": true,
                    "description": "Valuta",
                    "schema": {
                        "type": "string",
                        "maxLength": 5
                    }
                },
                {
                    "name": "ItemKey",
                    "in": "path",
                    "required": true,
                    "description": "Objectkey",
                    "schema": {
                        "type": "string",
                        "maxLength": 30
                    }
                }
            ],
            "get": {
                "summary": "Get entity from UnusualItemCollection by key",
                "tags": [
                    "UnusualItemCollection"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "Currency",
                                    "ItemKey",
                                    "ItemText",
                                    "ItemValue",
                                    "CostElement",
                                    "CostElementTXT",
                                    "CostCenter",
                                    "CostCenterTXT",
                                    "LastChangedBy",
                                    "ProposedCostCenter",
                                    "ProposedValue",
                                    "ProposedCostElement"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FCO_CORE_SRV.UnusualItem"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "patch": {
                "summary": "Update entity in UnusualItemCollection",
                "tags": [
                    "UnusualItemCollection"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New property values",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FCO_CORE_SRV.UnusualItem-update"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "delete": {
                "summary": "Delete entity from UnusualItemCollection",
                "tags": [
                    "UnusualItemCollection"
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/NoteCollection": {
            "get": {
                "summary": "Get entities from NoteCollection",
                "tags": [
                    "NoteCollection"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "ItemKey",
                                    "ItemKey desc",
                                    "NoteId",
                                    "NoteId desc",
                                    "Creator",
                                    "Creator desc",
                                    "CrName",
                                    "CrName desc",
                                    "CrDate",
                                    "CrDate desc",
                                    "CrTime",
                                    "CrTime desc",
                                    "Content",
                                    "Content desc",
                                    "Assignee",
                                    "Assignee desc",
                                    "AssigneeName",
                                    "AssigneeName desc"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "ItemKey",
                                    "NoteId",
                                    "Creator",
                                    "CrName",
                                    "CrDate",
                                    "CrTime",
                                    "Content",
                                    "Assignee",
                                    "AssigneeName"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Collection of Note",
                                    "type": "object",
                                    "properties": {
                                        "@odata.count": {
                                            "$ref": "#/components/schemas/count"
                                        },
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FCO_CORE_SRV.Note"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "post": {
                "summary": "Add new entity to NoteCollection",
                "tags": [
                    "NoteCollection"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New entity",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FCO_CORE_SRV.Note-create"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FCO_CORE_SRV.Note"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/NoteCollection(ItemKey='{ItemKey}',NoteId='{NoteId}')": {
            "parameters": [
                {
                    "name": "ItemKey",
                    "in": "path",
                    "required": true,
                    "description": "Positiecode",
                    "schema": {
                        "type": "string",
                        "maxLength": 30
                    }
                },
                {
                    "name": "NoteId",
                    "in": "path",
                    "required": true,
                    "description": "Notitie-ID",
                    "schema": {
                        "type": "string",
                        "maxLength": 34
                    }
                }
            ],
            "get": {
                "summary": "Get entity from NoteCollection by key",
                "tags": [
                    "NoteCollection"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "ItemKey",
                                    "NoteId",
                                    "Creator",
                                    "CrName",
                                    "CrDate",
                                    "CrTime",
                                    "Content",
                                    "Assignee",
                                    "AssigneeName"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FCO_CORE_SRV.Note"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "patch": {
                "summary": "Update entity in NoteCollection",
                "tags": [
                    "NoteCollection"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New property values",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FCO_CORE_SRV.Note-update"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "delete": {
                "summary": "Delete entity from NoteCollection",
                "tags": [
                    "NoteCollection"
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/AttachmentCollection": {
            "get": {
                "summary": "Get entities from AttachmentCollection",
                "tags": [
                    "AttachmentCollection"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "ItemKey",
                                    "ItemKey desc",
                                    "AttachmentID",
                                    "AttachmentID desc",
                                    "FileName",
                                    "FileName desc",
                                    "FileExtension",
                                    "FileExtension desc",
                                    "FileSize",
                                    "FileSize desc",
                                    "CreationDate",
                                    "CreationDate desc",
                                    "CreationTime",
                                    "CreationTime desc",
                                    "Creator",
                                    "Creator desc",
                                    "CreatorName",
                                    "CreatorName desc",
                                    "Content",
                                    "Content desc"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "ItemKey",
                                    "AttachmentID",
                                    "FileName",
                                    "FileExtension",
                                    "FileSize",
                                    "CreationDate",
                                    "CreationTime",
                                    "Creator",
                                    "CreatorName",
                                    "Content"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Collection of Attachment",
                                    "type": "object",
                                    "properties": {
                                        "@odata.count": {
                                            "$ref": "#/components/schemas/count"
                                        },
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FCO_CORE_SRV.Attachment"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "post": {
                "summary": "Add new entity to AttachmentCollection",
                "tags": [
                    "AttachmentCollection"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New entity",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FCO_CORE_SRV.Attachment-create"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FCO_CORE_SRV.Attachment"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/AttachmentCollection('{AttachmentID}')": {
            "parameters": [
                {
                    "name": "AttachmentID",
                    "in": "path",
                    "required": true,
                    "description": "Notitie-ID",
                    "schema": {
                        "type": "string",
                        "maxLength": 34
                    }
                }
            ],
            "get": {
                "summary": "Get entity from AttachmentCollection by key",
                "tags": [
                    "AttachmentCollection"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "ItemKey",
                                    "AttachmentID",
                                    "FileName",
                                    "FileExtension",
                                    "FileSize",
                                    "CreationDate",
                                    "CreationTime",
                                    "Creator",
                                    "CreatorName",
                                    "Content"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FCO_CORE_SRV.Attachment"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "patch": {
                "summary": "Update entity in AttachmentCollection",
                "tags": [
                    "AttachmentCollection"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New property values",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FCO_CORE_SRV.Attachment-update"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "delete": {
                "summary": "Delete entity from AttachmentCollection",
                "tags": [
                    "AttachmentCollection"
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/NameListCollection": {
            "get": {
                "summary": "Get entities from NameListCollection",
                "tags": [
                    "NameListCollection"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "AssignedUser",
                                    "AssignedUser desc",
                                    "FirstName",
                                    "FirstName desc",
                                    "LastName",
                                    "LastName desc",
                                    "FullName",
                                    "FullName desc",
                                    "Department",
                                    "Department desc",
                                    "CompanyName",
                                    "CompanyName desc",
                                    "CompanyNameExt",
                                    "CompanyNameExt desc",
                                    "EMail",
                                    "EMail desc",
                                    "Mobile",
                                    "Mobile desc",
                                    "Telephone",
                                    "Telephone desc",
                                    "Street",
                                    "Street desc"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "AssignedUser",
                                    "FirstName",
                                    "LastName",
                                    "FullName",
                                    "Department",
                                    "CompanyName",
                                    "CompanyNameExt",
                                    "EMail",
                                    "Mobile",
                                    "Telephone",
                                    "Street"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Collection of NameList",
                                    "type": "object",
                                    "properties": {
                                        "@odata.count": {
                                            "$ref": "#/components/schemas/count"
                                        },
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FCO_CORE_SRV.NameList"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "post": {
                "summary": "Add new entity to NameListCollection",
                "tags": [
                    "NameListCollection"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New entity",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FCO_CORE_SRV.NameList-create"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FCO_CORE_SRV.NameList"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/NameListCollection('{AssignedUser}')": {
            "parameters": [
                {
                    "name": "AssignedUser",
                    "in": "path",
                    "required": true,
                    "description": "Gebruiker",
                    "schema": {
                        "type": "string",
                        "maxLength": 12
                    }
                }
            ],
            "get": {
                "summary": "Get entity from NameListCollection by key",
                "tags": [
                    "NameListCollection"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "AssignedUser",
                                    "FirstName",
                                    "LastName",
                                    "FullName",
                                    "Department",
                                    "CompanyName",
                                    "CompanyNameExt",
                                    "EMail",
                                    "Mobile",
                                    "Telephone",
                                    "Street"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FCO_CORE_SRV.NameList"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "patch": {
                "summary": "Update entity in NameListCollection",
                "tags": [
                    "NameListCollection"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New property values",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FCO_CORE_SRV.NameList-update"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "delete": {
                "summary": "Delete entity from NameListCollection",
                "tags": [
                    "NameListCollection"
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/Dismiss(ItemKey='{ItemKey}',Subject='{Subject}',Receiver='{Receiver}',Body='{Body}')": {
            "get": {
                "summary": "Invoke function Dismiss",
                "tags": [
                    "Service Operations"
                ],
                "parameters": [
                    {
                        "name": "ItemKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Subject",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 50
                        }
                    },
                    {
                        "name": "Receiver",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 12
                        }
                    },
                    {
                        "name": "Body",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FCO_CORE_SRV.ReturnCode"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/Correct(ItemKey='{ItemKey}',NewCostCenter='{NewCostCenter}',NewAmount='{NewAmount}',Subject='{Subject}',Receiver='{Receiver}',Body='{Body}')": {
            "get": {
                "summary": "Invoke function Correct",
                "tags": [
                    "Service Operations"
                ],
                "parameters": [
                    {
                        "name": "ItemKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "NewCostCenter",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "NewAmount",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Subject",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 50
                        }
                    },
                    {
                        "name": "Receiver",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 12
                        }
                    },
                    {
                        "name": "Body",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FCO_CORE_SRV.ReturnCode"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/GetNotes(ItemKey='{ItemKey}')": {
            "get": {
                "summary": "Invoke function GetNotes",
                "tags": [
                    "Service Operations"
                ],
                "parameters": [
                    {
                        "name": "ItemKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Collection of ReturnCode",
                                    "type": "object",
                                    "properties": {
                                        "@odata.count": {
                                            "$ref": "#/components/schemas/count"
                                        },
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FCO_CORE_SRV.ReturnCode"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/GetCctrList(UserName='{UserName}')": {
            "get": {
                "summary": "Invoke function GetCctrList",
                "tags": [
                    "CctrListCollection"
                ],
                "parameters": [
                    {
                        "name": "UserName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 12
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Collection of CctrList",
                                    "type": "object",
                                    "properties": {
                                        "@odata.count": {
                                            "$ref": "#/components/schemas/count"
                                        },
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FCO_CORE_SRV.CctrList"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/AddNote(ItemKey='{ItemKey}',Content='{Content}',DocNumber='{DocNumber}')": {
            "get": {
                "summary": "Invoke function AddNote",
                "tags": [
                    "NoteCollection"
                ],
                "parameters": [
                    {
                        "name": "ItemKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 30
                        }
                    },
                    {
                        "name": "Content",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    },
                    {
                        "name": "DocNumber",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Collection of Note",
                                    "type": "object",
                                    "properties": {
                                        "@odata.count": {
                                            "$ref": "#/components/schemas/count"
                                        },
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FCO_CORE_SRV.Note"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/GetNameCardProfile(UName='{UName}')": {
            "get": {
                "summary": "Invoke function GetNameCardProfile",
                "tags": [
                    "NameListCollection"
                ],
                "parameters": [
                    {
                        "name": "UName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 12
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Collection of NameList",
                                    "type": "object",
                                    "properties": {
                                        "@odata.count": {
                                            "$ref": "#/components/schemas/count"
                                        },
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FCO_CORE_SRV.NameList"
[...]
